APP_PORT=8080

POSTGRES_HOST=vox-message-db
POSTGRES_PORT=5432
POSTGRES_DB=vox_message
POSTGRES_USER=vox_message
POSTGRES_PASSWORD=vox_message
POSTGRES_SSLMODE=disable

REDIS_HOST=vox-message-redis
REDIS_PORT=6379
