.guest-layout
  display: flex
  flex-direction: column
  min-height: 100dvh
  padding: 32px

.guest-layout__body
  display: flex
  flex: 1

@media (max-width: 640px)
  .guest-layout
    padding: 20px
